@times: 1.5;
@eyeWidth: 100px * @times;
@eyeHeight: 100px * @times;
@pupilWidth: 12px * @times;
@pupilHeight: 12px * @times;
@magatamaWidth: 12px * @times;
@magatamaHeight: 12px * @times;
@tailWidth: (@magatamaWidth/2) - 2px;
@tailHeight: @magatamaHeight - 2px;
@distance: 30px * @times;

@keyframes whirl {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sharingan {
    &-eyelids {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        // width: @eyeWidth * 2.4;
        // height: @eyeHeight + 20;
    }

    &-eye {
        box-sizing: content-box;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: @eyeWidth;
        height: @eyeHeight;
        background: #d21801;
        border: 6px solid black;
        border-radius: 50%;
    }

    &-whirl {
        // animation-duration: 1s;
        // animation-fill-mode: both;
        // animation-timing-function: ease-in-out;
        // animation-name: whirl;
        // animation-play-state: running;
        // animation-iteration-count: infinite;
    }

    &-pupil {
        width: @pupilWidth;
        height: @pupilHeight;
        border-radius: 50%;
        background: black;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 0 - (@pupilWidth/2);
        margin-left: 0 - (@pupilHeight/2);
    }

    &-circle-line {
        width: @distance*2 + 2;
        height: @distance*2 + 2;
        border: 3px solid black;
        border-radius: 50%;
    }

    &-magatama {
        position: relative;
        width: @magatamaWidth;
        height: @magatamaHeight;
        border-radius: @magatamaWidth;
        background-color: black;

        &::before {
            content: "";
            position: absolute;
            top: (@magatamaWidth/2);
            left: 0px;
            width: @tailWidth;
            height: @tailHeight;
            border-color: black;
            border-style: solid;
            // border-width: 0 0 0 @tailWidth - 2;
            border-radius: 0 0 0 100%;

            & when(@tailWidth - 2 <=5) {
                border-width: 0 0 0 5px;
            }

            & when(@tailWidth - 2 > 5) {
                border-width: 0 0 0 @tailWidth - 2;
            }
        }

        &-top {
            transform: rotate(60deg) rotateX(180deg);
            position: absolute;
            top: (@eyeWidth/2) - (@distance) - (@magatamaHeight/2);
        }

        &-left {
            transform: rotate(-60deg) rotateX(180deg);
            position: absolute;
            top: (@eyeWidth/2) + (@distance)*sin(30deg) - (@magatamaWidth/2);
            left: (@eyeWidth/2) - (@distance)*sin(30deg)*sqrt(3) - (@magatamaWidth/2)
        }

        &-right {
            transform: rotateY(180deg);
            position: absolute;
            top: (@eyeWidth/2) + (@distance)*sin(30deg) - (@magatamaWidth/2);
            right: (@eyeWidth/2) - (@distance)*sin(30deg)*sqrt(3) - (@magatamaWidth/2)
        }
    }
}